<?xml version="1.0"?>
<!--
/**
 * @author         Radhu 2Hats
 * @package        Hatslogic/CartSync
 * @copyright      Copyright(C) 2018 Hatslogic
 * @license        See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Hatslogic_CartSync" setup_version="1.0.0"/>
</config>
